
:root {
  --bg: #206720;
  --bg-b: #1e171f;
  --fg: #f4fefb;
  --fg-b: #e5e3d3;
  --txt: #f4fefb;
  --acnt-a: #d8d8d8;
  --acnt-b: #f0f0f0;
  --acnt-c: #b5b5b5;
  --acnt-d: #a9a9a9;
  --pad-base: #a9a9a9;
  --pad-active: #ffcc88;
  --pad-mis: #ff3311;
  --clr: #00000000;
}

@font-face {
  src: url(./../fonts/Nunito/Nunito-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  font-family: mono;
  background: var(--acnt-g);


body, html {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.outer-field {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: linear-gradient(var(--acnt-a), var(--acnt-b));
  padding: .7em;
  gap: .4em;
}

.section {
  width: 100%;
  height: 15%;
  border: 2px solid var(--acnt-d);
  background: var(--acnt-c);
  border-radius: .9em;
}

.section:nth-child(1) {
  padding: 1em;
  background: linear-gradient(var(--clr), var(--acnt-d));
  border-top: 3px outset var(--acnt-a);
  border-left: 1px solid var(--acnt-a);
  border-right: 1px solid var(--acnt-a);
  border-bottom: none;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: repeat(1fr, 3);
}

.display-item {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #202020;
  transition: .7s;
}

.display-item:nth-child(1) {
  grid-row: 2;
  grid-column: 1;
  transform: rotate(-15deg);
}

.display-item:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
  transform: rotate(-5deg);
}

.display-item:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
  transform: rotate(5deg);
}

.display-item:nth-child(4) {
  grid-row: 2;
  grid-column: 4;
  transform: rotate(15deg);
}

.item-object {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  background: var(--fg);
  border-radius: 50%;
  border-top: .7em outset var(--acnt-a);
  border-left: 1px inset var(--acnt-a);
  border-right: 1px inset var(--acnt-a);
  background: var(--acnt-c);
  background: linear-gradient(var(--clr), var(--acnt-a));
  z-index: 2;
}

.section:nth-child(2) {
  background: var(--acnt-b);
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: .7em;
  gap: 1.2em .7em;
  background: var(--clr);
  border: unset;
}

.section:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--clr), var(--acnt-d));
  border-bottom: 2px outset var(--acnt-a);
  border-left: 1px solid var(--acnt-a);
  border-right: 1px solid var(--acnt-a);
  border-top: none;
}

.grid-pad {
  background: var(--pad-base);
  width: 100%;
  height: 100%;
  border-radius: .7em;
  transition: .3s;
}

.seq-prime {
  width: 5em;
  height: 5em;
  background: var(--acnt-b);
  border: 1px solid var(--acnt-b);
  border-radius: 50%;
  box-shadow: var(--acnt-a) 0 0 1em 2em inset, 0em .2em 0em var(--acnt-d), inset 4em 5em 1em var(--acnt-d);
  transition: .29s;
  transition-timing-function: ease;
}

.seq-prime:active {
  transform: scale(95%) translateY(2px);
  transition: .15s;
  background: var(--acnt-c);
  border: .2px solid var(--acnt-b);
  box-shadow: var(--acnt-a) 0 0 1em 2em inset, 0em 0em 0em var(--acnt-d), inset 4em 5em 1em var(--acnt-d);
}

.menu-toggle {
  width: 2em;
  height: 2em;
  background: linear-gradient(var(--clr), var(--acnt-a));
  position: absolute;
  right: 3em;
  bottom: 2em;
  border-radius: 50%;
}

.menu-field {
  width: 100%;
  height: 100%;
  background: var(--acnt-d);
  display: none;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  z-index: 2;
  padding: .7em;
  gap: .2em;
}

.menu-display-item {
  background: var(--acnt-b);
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
}

.menu-item-object {
  background: #00ffaa:
}

@media (max-width: 1080px) {
}

